#{extends 'main.html' /} #{set title:'Construction Rénovation Laval
Rive-Nord Montréal' /} #{set pageHeader:'Innovations HB construction' /}


<div class="row">
	<div class="span8 offset3">



		<p>En plus de la rénovation et de la construction, Innovations HB
			peut compter sur ses partenaires jeunes et dynamiques pour mettre à
			jour vos projets vos idées et vos rêves. Que ce soit pour mettre en
			œuvre de petits projets, redessiner l'intérieur ou l'extérieur de
			votre demeure, construire une nouvelle maison ou refaire une beauté à
			votre entreprise, vous pourrez compter sur nous avant, pendant et
			après le processus du projet. Nous vous garantissons un service
			rapide, courtois et une équipe disponible pour réaliser vos projets
			au maximum 2 semaines suivant l'acceptation de la soumission. Au
			plaisir de travailler pour vous,</p>

		<p>L'équipe d'InnovationHB</p>

	</div>
</div>

<div class="center">
	<a href="@{'/public/images/11-0.jpg'}" rel="lightbox[front]"
		title="my caption"><img src="@{'/public/images/11-0.jpg'}"
		width="50%" height="50%" alt="" /></a> <a
		href="@{'/public/images/11-5.jpg'}" rel="lightbox[front]"
		title="my caption"><img src="@{'/public/images/11-5.jpg'}"
		width="50%" height="50%" alt="" /></a> <a
		href="@{'/public/images/11-4.jpg'}" rel="lightbox[front]"
		title="my caption"><img src="@{'/public/images/11-4.jpg'}"
		width="50%" height="50%" alt="" /></a>
</div>