#{extends 'main.html' /}
#{set title:'Construction Rénovation Laval Rive-Nord Montréal' /}

#{set pageHeader:'Innovations HB construction' /}

<p> 
En plus de la rénovation et de la construction, Innovations HB peut compter sur ses partenaires jeunes et dynamiques pour mettre à jour vos projets vos idées et vos rêves. Que ce soit pour mettre en œuvre de petits projets, redessiner l'intérieur ou l'extérieur de votre demeure, construire une nouvelle maison ou refaire une beauté à votre entreprise, vous pourrez compter sur nous avant, pendant et après le processus du projet. Nous vous garantissons un service rapide, courtois et une équipe disponible pour réaliser vos projets au maximum 2 semaines suivant l'acceptation de la soumission.

Au plaisir de travailler pour vous,

</p>

<p>L'équipe d'InnovationHB</p>
